<%- include("header") -%>
    <div class="box" id="heading">
        <h1> <%=ListTitle%> </h1>
    </div>
    <div class="box">
        

       <% newListItem.forEach(function(item){ %>
        <form action="/delete" method="post">
            <div class="items">    
                <input type="checkbox">
                    <p> <%= item.name %> </p>
                <button class="bts" type="submit" name="newitem" value="<%= item._id %>">X</button>
            </div>
        </form>
       <% }) %>

   <form action="/" method="post">
    <input type="text" name="newItem" placeholder="New Item">
    <button class="btns" type="submit" name="list" value= "<%= ListTitle %>" >+</button>
   </form>
</div>
<%- include("footer") -%>